:root {
  --nav-bar-height: 230px;
  --nav-bar-bg-color: #282c34;
  --entry-block-open-bg-color: papayawhip;
  --release-block-bg-color: pink;
}

body, ul, p, h1 {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
}

.app-header {
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: var(--nav-bar-height);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--nav-bar-bg-color);
  color: white;
}

main {
  margin-top: var(--nav-bar-height);
}

.app-header__title {
  text-align: center;
}

.app-header__selectors {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 0;
}

.app-header__selectors > * {
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  border-width: 1px;
}

.app-header__select-box:disabled {
  color: initial;
}

.entry-list-empty {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.entry-block {
  list-style-type: none;
  border-bottom: 1px solid grey;
}

.entry-block__details {
  cursor: pointer;
  padding: 10px 40px;
}

.entry-block:hover:not(.entry-block__open) {
  transform: scale(1.02);
}

.entry-block:hover, .entry-block__open {
  background-color: var(--entry-block-open-bg-color);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.detail__title {
  font-weight: bold;
}

.release-view {
  background-color: var(--release-block-bg-color);
  padding: 20px 40px;
}

.release-view ul {
  list-style-type: decimal;
}

.release-block {
  margin: 20px;
}

.release-info-block {
  line-height: 25px;
}

.release-discogs-url {
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: 1;
}
