.app-header {
  padding: 20px;
  background-color: #282c34;
  color: white;
}

.app-header__title {
  text-align: center;
}

.app-header__select-box {
  display: block;
  height: 30px;
  margin: 10px;
}

.app-header__select-box:disabled {
  color: initial;
}

.entry-block {
  cursor: pointer;
}

.entry-block:hover {
  background-color: papayawhip;
  transform: scale(1.05);
}

.release-block {
  margin: 20px;
  background-color: pink;
}
