body {
  background-color: lightcyan;
}
h1 {
  color: darkred;
  text-align: center;
  font-size: 50px;
  border-bottom: 1px solid;
}

#artist-list, #artist-list ul {
  list-style: none;
}

#artist-list ul li {
  cursor: pointer;
}

#artist-list > li > h2{
  font-weight: bold;
  font-size: 20px;
}

.entries-table th:first-child {
  text-align: left;
  width: 80%
}

.entries-table th, .entries-table td {
  padding: 5px;
}

.entry-date {
  text-align: right;
}

.hidden {
  display: none;
}

.entry-typies {
  background-color: #fff;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.5em;
  color: blue;
}
