<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Queen Collection - Artists</title>
  <link type="text/css" rel="stylesheet" href="/assets/styles/styles.css">
</head>

<body>
  <ul id="artist-list">
    <% groups.map(groups => {
      const {name, artists} = groups
      const id = 1
    %>
      <li>
        <h1><%=name %></h1>
        <ul>
          <% artists.map(artist => {
            const {id, name} = artist
          %>
            <li data-artist-id=<%=id %>>
              <h2><%=name %></h2>
              <div class="entry-typies hidden"></div>
            </li>
          <%}) %>
        </ul>

    <%}) %>
  </ul>

  <script src="/assets/scripts/artists.js"></script>
</body>
</html>
