
main {
  margin-top: var(--nav-bar-height);
  height: calc(100vh - var(--nav-bar-height));
  overflow: scroll
}

.entry-list:focus {
  color: green;
}

.entry-list-empty {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.entry-block {
  list-style-type: none;
  border-bottom: 1px solid grey;
}

.entry-block__details {
  cursor: pointer;
  padding: 10px 40px;
}

.entry-block:focus, .entry-block--open, .entry-block--selected {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.entry-block:hover {
  background-color: #ebdbc3;
}

.entry-block:focus {
  background-color: #fadbaf;
}

.entry-block.entry-block--open {
  background-color: #fadbaf;
}

.entry-block.entry-block--selected {
  background-color: #ed8f32;
}

.release-block-details td:first-child {
  font-weight: bold;
}

.detail__title {
  font-weight: bold;
}

.release-view {
  background-color: var(--release-block-bg-color);
  padding: 20px 40px;
}

.release-view ul {
  list-style-type: decimal;
  margin: 10px;
}

.release-view ul li {
  margin: 5px;
}

.release-view ul li span{
  margin-left: 5px;
}

.release-view ul li span:hover, .entry-block-release--selected {
  display: inline-block;
  transform: scale(1.05);
  color: blue;
  cursor: pointer;
}

.release-block {
  margin: 20px;
}

.release-info-block {
  line-height: 25px;
}

.release-discogs-url {
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.release-details-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.add-release-form label {
  display: flex;
  margin: 5px 0;
}

.add-release-form label .add-release-form__title {
  flex-basis: 30%;
  font-size: 18px;
}

.add-release-form label .add-release-form__input {
  flex-basis: 60%;
  font-size: 16px;
}

.add-release-form label .add-release-form__input--invalid {
  outline-color: red;
}
