.app-header {
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: var(--nav-bar-height);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--nav-bar-bg-color);
  color: white;
}

.app-header__title {
  text-align: center;
  margin-bottom: 20px;
}

.app-header__selectors {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.app-header__selectors > * {
  margin: 0 20px 20px 20px;
}

.selector-wrapper {
  position: relative;
  width: 300px;
}

.selector-input {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  font-size: inherit;
}

.entries-filter {
  width: calc(300px - 22px);
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  font-size: inherit;
  align-self: center;
}

.selector-input:disabled {
  color: black;
  background-color: #d5dbe3;
}

.selector-input:focus, .entries-filter:focus {
  outline:none;
  border: 1px solid blue;
  border-radius: 5px;
}

.selector-input--error {
  border-color: red !important;
}

.selector-list {
  position: absolute;
  width: 100%;
  z-index: 1;
  list-style-type: none;
  max-height: 300px;
  overflow: scroll;
  border: 1px solid black;
}

.selector-list__element {
  background-color: white;
  height: 30px;
  color: black;
  padding: 10px;
  border-bottom: 1px solid black;
}

.selector-list__element--selected {
  background-color: yellow;
  cursor: pointer;
}

.app-header__select-box:disabled {
  color: initial;
}

@media screen and (max-width: 1060px) {
  .entries-filter {
    margin-left: auto;
  }
}

@media screen and (max-width: 720px) {
  .app-header__selectors {
    justify-content: center;
    max-width: 300px;
  }

  .entries-filter {
    margin-left: 20px;
  }
}
